# 3_K-드라마+영화 유명 촬영지 수 및 위치정보 추출

### 순서
1. 데이터 불러오기
    - csv파일을 데이터프레임 형식으로 불러오기
    
    
2. 각 지역별 촬영지 수 추출 및 저장
    - 시도명/ 시군구 컬럼을 그룹으로 촬영지 개수 확인
    

3. 각 지역별 촬영지 정보(상호명 및 경/위도) 추출 및 저장
    - 각 촬영지 별 경/위도 확인

### 필요한 모듈 import

In [13]:
import numpy as np
import pandas as pd

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import warnings
warnings.filterwarnings('ignore')

## 1. 데이터 불러오기

### csv파일 불러오기

In [15]:
df = pd.read_csv('data/3/유명촬영지.csv')
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCMPLPO22N000000001,장소,관광지,7461518,전주영화종합촬영소,NaN,NaN,60515,드라마/영화촬영지,4.511110e+18,...,4.511150e+11,원상림길,125-14,127.075102,35.814716,다마616576,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
1,KCMPLPO22N000000002,장소,관광지,10252300,러브레터촬영지,NaN,NaN,60515,드라마/영화촬영지,4.273040e+18,...,NaN,NaN,NaN,127.816191,37.527650,라사279476,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
2,KCMPLPO22N000000003,장소,관광지,10252338,시월애촬영지,NaN,NaN,60515,드라마/영화촬영지,2.871040e+18,...,NaN,NaN,NaN,126.298110,37.702012,나사940676,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
3,KCMPLPO22N000000004,장소,관광지,10252391,청춘촬영지,NaN,NaN,60515,드라마/영화촬영지,4.885030e+18,...,NaN,NaN,NaN,127.691620,35.152143,라라174841,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
4,KCMPLPO22N000000005,장소,관광지,17765143,드라마영광의재인촬영지,NaN,NaN,60515,드라마/영화촬영지,4.311110e+18,...,4.311130e+11,수암로,43,127.494164,36.646147,다바994498,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,KCMPLPO22N000000187,장소,관광지,10252349,어린왕자촬영지,NaN,NaN,60515,드라마/영화촬영지,4.677030e+18,...,4.677050e+11,연홍길,94,127.089660,34.462113,다라623076,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
187,KCMPLPO22N000000188,장소,관광지,10252362,가을로촬영지,NaN,NaN,60515,드라마/영화촬영지,4.671030e+18,...,NaN,NaN,NaN,127.011808,35.183289,다라555876,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
188,KCMPLPO22N000000189,장소,관광지,10252424,MBC문화동산,NaN,NaN,60515,드라마/영화촬영지,4.163010e+18,...,4.163030e+11,만송로,394-104,127.101519,37.791519,다사649769,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
189,KCMPLPO22N000000190,장소,관광지,16497655,레드카펫촬영장,NaN,NaN,60515,드라마/영화촬영지,4.773040e+18,...,4.773050e+11,도경1길,18,128.642880,36.240104,마바026053,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809
190,KCMPLPO22N000000191,장소,관광지,16584263,장옥정세트장,NaN,NaN,60515,드라마/영화촬영지,4.128510e+18,...,4.128530e+11,공릉천로,411,126.828153,37.722607,다사407694,20220809,KT,KC_502_LLR_MOVIE_DRMA_PLCE_2022,20220809

- 데이터 확인하기

In [16]:
# 데이터 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            191 non-null    object
 1   LCLAS_NM      191 non-null    object
 2   MLSFC_NM      191 non-null    object
 3   POI_ID        191 non-null    int64
 4   POI_NM        191 non-null    object
 5   BHF_NM        0 non-null      float64
 6   ASSTN_NM      0 non-null      float64
 7   CL_CD         191 non-null    int64
 8   CL_NM         191 non-null    object
 9   PNU           190 non-null    float64
 10  CTPRVN_NM     191 non-null    object
 11  SIGNGU_NM     191 non-null    object
 12  LEGALDONG_NM  191 non-null    object
 13  LI_NM         134 non-null    object
 14  LNBR_NO       190 non-null    object
 15  LEGALDONG_CD  191 non-null    int64
 16  ADSTRD_CD     191 non-null    int64
 17  RDNMADR_CD    119 non-null    float64
 18  RDNMADR_NM    119 non-null    object
 19  BULD_NO       119 non-null    object
 20  LC_LO         191 non-null    float64
 21  LC_LA         191 non-null    float64
 22  GID_CD        191 non-null    object
 23  LAST_CHG_DE   191 non-null    int64
 24  ORIGIN_NM     191 non-null    object
 25  FILE_NM       191 non-null    object
 26  BASE_DE       191 non-null    int64
dtypes: float64(6), int64(6), object(15)
memory usage: 40.4+ KB

In [17]:
# null값 확인하기
df.isnull().sum()

ID                0
LCLAS_NM          0
MLSFC_NM          0
POI_ID            0
POI_NM            0
BHF_NM          191
ASSTN_NM        191
CL_CD             0
CL_NM             0
PNU               1
CTPRVN_NM         0
SIGNGU_NM         0
LEGALDONG_NM      0
LI_NM            57
LNBR_NO           1
LEGALDONG_CD      0
ADSTRD_CD         0
RDNMADR_CD       72
RDNMADR_NM       72
BULD_NO          72
LC_LO             0
LC_LA             0
GID_CD            0
LAST_CHG_DE       0
ORIGIN_NM         0
FILE_NM           0
BASE_DE           0
dtype: int64

---------------

## 2. 각 지역별 유명 촬영지 수 추출 및 저장

- group by를 이용해 개수 확인

In [18]:
# CTPRVN_NM(시도명), SIGNGU_NM(시군구명) 컬럼을 그룹으로 묶어 갯수를 확인
df_count = df.groupby(['CTPRVN_NM','SIGNGU_NM']).size().reset_index(name='유명 촬영지 수')
df_count

    CTPRVN_NM SIGNGU_NM  유명 촬영지 수
0         강원도       강릉시         2
1         강원도       고성군         2
2         강원도       삼척시         5
3         강원도       속초시         3
4         강원도       영월군         1
..        ...       ...       ...
97       충청남도       서천군         1
98       충청남도       태안군         5
99       충청북도       단양군         2
100      충청북도       제천시         3
101      충청북도   청주시 상당구         3

[102 rows x 3 columns]

- 컬럼명 변경

In [19]:
df_count.rename(columns={'CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명'}, inplace=True)
df_count

      시도명     시군구명  유명 촬영지 수
0     강원도      강릉시         2
1     강원도      고성군         2
2     강원도      삼척시         5
3     강원도      속초시         3
4     강원도      영월군         1
..    ...      ...       ...
97   충청남도      서천군         1
98   충청남도      태안군         5
99   충청북도      단양군         2
100  충청북도      제천시         3
101  충청북도  청주시 상당구         3

[102 rows x 3 columns]

In [20]:
# null값 확인
df_count.isnull().sum()

시도명         0
시군구명        0
유명 촬영지 수    0
dtype: int64

- csv파일 저장

In [21]:
df_count.to_csv('./data/3/전처리_완료/지역별 촬영지 수.csv', sep=',', na_rep='NaN')

---------------

## 3. 각 지역별 촬영지 정보(상호명 및 경/위도) 추출 및 저장

- 필요한 컬럼('POI_NM', 'CTPRVN_NM','SIGNGU_NM', 'LC_LO', 'LC_LA') 추출

In [22]:
df_loc = df[['POI_NM', 'CTPRVN_NM','SIGNGU_NM', 'LC_LO', 'LC_LA']]
df_loc

          POI_NM CTPRVN_NM SIGNGU_NM       LC_LO      LC_LA
0      전주영화종합촬영소      전라북도   전주시 완산구  127.075102  35.814716
1        러브레터촬영지       강원도       횡성군  127.816191  37.527650
2         시월애촬영지     인천광역시       강화군  126.298110  37.702012
3          청춘촬영지      경상남도       하동군  127.691620  35.152143
4    드라마영광의재인촬영지      충청북도   청주시 상당구  127.494164  36.646147
..           ...       ...       ...         ...        ...
186      어린왕자촬영지      전라남도       고흥군  127.089660  34.462113
187       가을로촬영지      전라남도       담양군  127.011808  35.183289
188      MBC문화동산       경기도       양주시  127.101519  37.791519
189      레드카펫촬영장      경상북도       의성군  128.642880  36.240104
190       장옥정세트장       경기도  고양시 일산동구  126.828153  37.722607

[191 rows x 5 columns]

- 인덱스명 변경

In [23]:
df_loc.rename(columns={'POI_NM': '촬영지','CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명','LC_LO':'경도','LC_LA':'위도'}, inplace=True)
df_loc

             촬영지    시도명      시군구명          경도         위도
0      전주영화종합촬영소   전라북도   전주시 완산구  127.075102  35.814716
1        러브레터촬영지    강원도       횡성군  127.816191  37.527650
2         시월애촬영지  인천광역시       강화군  126.298110  37.702012
3          청춘촬영지   경상남도       하동군  127.691620  35.152143
4    드라마영광의재인촬영지   충청북도   청주시 상당구  127.494164  36.646147
..           ...    ...       ...         ...        ...
186      어린왕자촬영지   전라남도       고흥군  127.089660  34.462113
187       가을로촬영지   전라남도       담양군  127.011808  35.183289
188      MBC문화동산    경기도       양주시  127.101519  37.791519
189      레드카펫촬영장   경상북도       의성군  128.642880  36.240104
190       장옥정세트장    경기도  고양시 일산동구  126.828153  37.722607

[191 rows x 5 columns]

- csv파일로 저장

In [24]:
# csv파일로 저장
df_loc.to_csv('./data/3/전처리_완료/지역별 촬영지 위치정보.csv', sep=',', na_rep='NaN')

---------------