# 3 데이터 전처리_식당, 숙박업소 수 및 위치정보 추출

## 1. 필요한 모듈 import

In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import warnings
warnings.filterwarnings('ignore')

## 2. 데이터 불러오기

### os 모듈 이용하여 폴더 내 파일 불러오기

In [12]:
# 파일양이 많아 오래 걸리고 전처리한 파일은 아래에서 저장할 것이기 때문에 주석 처리함

# import os

# df = pd.DataFrame()

# # 폴더 내 파일을 하나씩 불러와 concat으로 합침
# for file in os.listdir('./data/3/소상공인시장진흥공단_상가(상권)정보'):
#     print(file)
#     temp = pd.read_csv('./data/3/소상공인시장진흥공단_상가(상권)정보/' + file, encoding='utf-8')
#     df = pd.concat([df, temp])

소상공인시장진흥공단_상가(상권)정보_강원_202212.csv
소상공인시장진흥공단_상가(상권)정보_경기_202212.csv
소상공인시장진흥공단_상가(상권)정보_경남_202212.csv
소상공인시장진흥공단_상가(상권)정보_경북_202212.csv
소상공인시장진흥공단_상가(상권)정보_광주_202212.csv
소상공인시장진흥공단_상가(상권)정보_대구_202212.csv
소상공인시장진흥공단_상가(상권)정보_대전_202212.csv
소상공인시장진흥공단_상가(상권)정보_부산_202212.csv
소상공인시장진흥공단_상가(상권)정보_서울_202212.csv
소상공인시장진흥공단_상가(상권)정보_세종_202212.csv
소상공인시장진흥공단_상가(상권)정보_울산_202212.csv
소상공인시장진흥공단_상가(상권)정보_인천_202212.csv
소상공인시장진흥공단_상가(상권)정보_전남_202212.csv
소상공인시장진흥공단_상가(상권)정보_전북_202212.csv
소상공인시장진흥공단_상가(상권)정보_제주_202212.csv
소상공인시장진흥공단_상가(상권)정보_충남_202212.csv
소상공인시장진흥공단_상가(상권)정보_충북_202212.csv

In [13]:
# 합친 데이터 확인
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,...,4215011100110960006010791,NaN,강원도 강릉시 가작로 270,210110.0,25488.0,1,NaN,NaN,128.904472,37.770252
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,강원도 평창군 대관령면 오목길 107,232954.0,25342.0,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,강원도 강릉시 옥계면 헌화로 455-34,210831.0,25633.0,NaN,NaN,NaN,129.052902,37.654680
4,24412526,레이디가구,NaN,D,소매,D15,가구소매,D15A01,일반가구소매,G47520,...,4213011500111400020035715,NaN,강원도 원주시 송삼길 156-19,220150.0,26385.0,NaN,NaN,NaN,127.917307,37.327668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96928,19073226,원조사계절칡냉면,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4374025028100810002002706,NaN,충청북도 영동군 영동읍 학산영동로 1170,370802.0,29152.0,NaN,NaN,NaN,127.768971,36.167841
96929,19073414,만능수리,NaN,F,생활서비스,F03,개인/가정용품수리,F03A05,에어컨수리/설치,S95310,...,4313035021102780001042473,NaN,충청북도 충주시 신니면 용원2길 26,380891.0,27457.0,NaN,NaN,NaN,127.735163,36.997242
96930,19074611,다모아인력,NaN,F,생활서비스,F08,대행업,F08A03,고객관리대행,N75919,...,4377035021105480007171082,NaN,충청북도 음성군 삼성면 덕정로 75,369833.0,27649.0,NaN,2,NaN,127.499859,37.020851
96931,19078175,와이케이푸드,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4373025037103440002009741,슈퍼,충청북도 옥천군 옥천읍 문장로 104,373805.0,29049.0,NaN,NaN,NaN,127.576315,36.296025
96932,19078180,만세건축,NaN,F,생활서비스,F15,주택수리,F15A02,미장타일도배도장,NaN,...,4377025021106180030000001,NaN,충청북도 음성군 음성읍 시장로117번길 8,369807.0,27696.0,NaN,NaN,NaN,127.690576,36.937684

## 3. 필요한 데이터만 추출

- 우리가 필요한 업종은 식당, 숙박업소

In [16]:
# unique()를 사용하여 해당 업종을 찾기
df.상권업종대분류명.unique()

array(['소매', '숙박', '학문/교육', '음식', '생활서비스', '부동산', '관광/여가/오락', '스포츠'],
      dtype=object)

### 식당 데이터 추출

In [22]:
# 상권업종대분류명이 '음식'인 데이터만 분류하기
df_restaurant = df[df.상권업종대분류명 == '음식']

In [23]:
# 데이터 확인
df_restaurant

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
6,17174157,치킨플러스원주기업도시점,원주기업도시점,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,4213033023114930000000001,원주기업도시라온프라이빗,강원도 원주시 지정면 가곡로 132,220821.0,26352.0,NaN,NaN,NaN,127.873974,37.383057
7,17174566,307포차,NaN,Q,음식,Q09,유흥주점,Q09A07,기타일반유흥주점,I56211,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
13,20778927,키즈까페아이사랑,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4215012500107080003000001,NaN,강원도 강릉시 성덕포남로 45-8,210938.0,25615.0,NaN,2,NaN,128.919456,37.759315
14,17175358,국수나루,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4215010900101730002015569,NaN,강원도 강릉시 토성로 193,210934.0,25531.0,NaN,NaN,NaN,128.896783,37.757642
15,17175250,꼭지네식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4215034023005580050042372,NaN,강원도 강릉시 강동면 대동안길 15,210824.0,25620.0,NaN,NaN,NaN,128.977948,37.725632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96924,19081190,더더쪽갈비,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4311311400108520026011901,NaN,충청북도 청주시 흥덕구 내수동로 19,361814.0,28594.0,NaN,NaN,NaN,127.449708,36.633365
96926,19072045,아이셰,NaN,Q,음식,Q04,분식,Q04A01,라면김밥분식,I56194,...,4311311500102190005000918,NaN,충청북도 청주시 흥덕구 봉명로 128,361816.0,28573.0,NaN,1,NaN,127.456078,36.638675
96927,19072242,쏘자,토스트,Q,음식,Q07,패스트푸드,Q07A10,토스트전문,I56192,...,4313010600120750000008130,NaN,충청북도 충주시 남산로 56,380090.0,27402.0,NaN,1,NaN,127.938356,36.961456
96928,19073226,원조사계절칡냉면,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4374025028100810002002706,NaN,충청북도 영동군 영동읍 학산영동로 1170,370802.0,29152.0,NaN,NaN,NaN,127.768971,36.167841
96931,19078175,와이케이푸드,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4373025037103440002009741,슈퍼,충청북도 옥천군 옥천읍 문장로 104,373805.0,29049.0,NaN,NaN,NaN,127.576315,36.296025

In [24]:
df_restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848630 entries, 6 to 96931
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     848630 non-null  int64
 1   상호명        848630 non-null  object
 2   지점명        188616 non-null  object
 3   상권업종대분류코드  848630 non-null  object
 4   상권업종대분류명   848630 non-null  object
 5   상권업종중분류코드  848630 non-null  object
 6   상권업종중분류명   848630 non-null  object
 7   상권업종소분류코드  848630 non-null  object
 8   상권업종소분류명   848630 non-null  object
 9   표준산업분류코드   846479 non-null  object
 10  표준산업분류명    846479 non-null  object
 11  시도코드       848630 non-null  int64
 12  시도명        848630 non-null  object
 13  시군구코드      848630 non-null  int64
 14  시군구명       848630 non-null  object
 15  행정동코드      848630 non-null  int64
 16  행정동명       848630 non-null  object
 17  법정동코드      848630 non-null  int64
 18  법정동명       848630 non-null  object
 19  지번코드       848630 non-null  int64
 20  대지구분코드     848630 non-null  int64
 21  대지구분명      848630 non-null  object
 22  지번본번지      848630 non-null  int64
 23  지번부번지      675277 non-null  float64
 24  지번주소       848630 non-null  object
 25  도로명코드      848630 non-null  int64
 26  도로명        848630 non-null  object
 27  건물본번지      848630 non-null  int64
 28  건물부번지      179511 non-null  float64
 29  건물관리번호     848630 non-null  object
 30  건물명        268960 non-null  object
 31  도로명주소      848630 non-null  object
 32  구우편번호      845377 non-null  float64
 33  신우편번호      848490 non-null  float64
 34  동정보        47437 non-null   object
 35  층정보        448460 non-null  object
 36  호정보        0 non-null       float64
 37  경도         848630 non-null  float64
 38  위도         848630 non-null  float64
dtypes: float64(7), int64(10), object(22)
memory usage: 259.0+ MB

In [25]:
# 잘 추출되었는지 확인
df_restaurant.상권업종대분류명.unique()

array(['음식'], dtype=object)

In [26]:
# 인덱스 재설정
df_restaurant.reset_index(drop=True, inplace=True)

### 숙박업소 데이터 추출

In [28]:
# 상권업종대분류명이 '숙박'인 데이터만 분류하기
df_accommodation = df[df.상권업종대분류명 == '숙박']

In [29]:
# 데이터 확인
df_accommodation

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
1,17174549,세인트존스호텔Ohcrab,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215011300100010001017124,세인트존스호텔,강원도 강릉시 창해로 307,210120.0,25467.0,NaN,NaN,NaN,128.920908,37.791299
2,17174079,평창라마다호텔,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4276038024102450036000001,NaN,강원도 평창군 대관령면 오목길 107,232954.0,25342.0,NaN,NaN,NaN,128.717971,37.660051
3,17173904,호텔탑스텐스카이라운지,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4215035029100920001000002,NaN,강원도 강릉시 옥계면 헌화로 455-34,210831.0,25633.0,NaN,NaN,NaN,129.052902,37.654680
20,28515796,편백나무숲펜션,NaN,O,숙박,O03,캠프/별장/펜션,O03A01,캠프/별장/펜션,I55119,...,4213033022200530001000001,NaN,강원도 원주시 지정면 원양2로 25-14,220824.0,26359.0,NaN,1,NaN,127.797533,37.350421
22,28503536,달보드레펜션,NaN,O,숙박,O03,캠프/별장/펜션,O03A01,캠프/별장/펜션,I55119,...,4273033026104500002000001,NaN,강원도 횡성군 둔내면 두원길 51,225834.0,25263.0,NaN,NaN,NaN,128.246628,37.494765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96785,19073060,선물같은하루,NaN,O,숙박,O05,민박/하숙,O05A01,민박/하숙,NaN,...,4374035025104890001003546,NaN,충청북도 영동군 상촌면 민주지산로 1397-12,370881.0,29125.0,NaN,NaN,NaN,127.837736,36.074057
96793,19079426,가나,NaN,O,숙박,O02,모텔/여관/여인숙,O02A01,모텔/여관/여인숙,I55112,...,4313036027101150000000001,NaN,충청북도 충주시 노은면 수룡봉황길 49-9,380913.0,27453.0,NaN,NaN,NaN,127.791456,37.044719
96883,19079340,햇살이머무는뜨락,NaN,O,숙박,O05,민박/하숙,O05A01,민박/하숙,NaN,...,4376035028102750000000001,NaN,충청북도 괴산군 문광면 도경로여생이길 6-51,367851.0,28058.0,NaN,NaN,NaN,127.755964,36.752615
96895,19078748,스튜디오ODT,NaN,O,숙박,O01,호텔/콘도,O01A01,호텔/콘도,NaN,...,4311111000105950031049320,NaN,충청북도 청주시 상당구 무심동로336번길 10,360120.0,28533.0,NaN,NaN,NaN,127.483594,36.630912
96920,19078367,"더메모리,해피",NaN,O,숙박,O05,민박/하숙,O05A01,민박/하숙,NaN,...,4371025040002240000053374,NaN,충청북도 청주시 청원구 내수읍 입상1길 23,363932.0,28142.0,NaN,NaN,NaN,127.487848,36.721303

In [30]:
df_accommodation.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44198 entries, 1 to 96920
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     44198 non-null  int64
 1   상호명        44198 non-null  object
 2   지점명        784 non-null    object
 3   상권업종대분류코드  44198 non-null  object
 4   상권업종대분류명   44198 non-null  object
 5   상권업종중분류코드  44198 non-null  object
 6   상권업종중분류명   44198 non-null  object
 7   상권업종소분류코드  44198 non-null  object
 8   상권업종소분류명   44198 non-null  object
 9   표준산업분류코드   29814 non-null  object
 10  표준산업분류명    29814 non-null  object
 11  시도코드       44198 non-null  int64
 12  시도명        44198 non-null  object
 13  시군구코드      44198 non-null  int64
 14  시군구명       44198 non-null  object
 15  행정동코드      44198 non-null  int64
 16  행정동명       44198 non-null  object
 17  법정동코드      44198 non-null  int64
 18  법정동명       44198 non-null  object
 19  지번코드       44198 non-null  int64
 20  대지구분코드     44198 non-null  int64
 21  대지구분명      44198 non-null  object
 22  지번본번지      44198 non-null  int64
 23  지번부번지      34192 non-null  float64
 24  지번주소       44198 non-null  object
 25  도로명코드      44198 non-null  int64
 26  도로명        44198 non-null  object
 27  건물본번지      44198 non-null  int64
 28  건물부번지      17193 non-null  float64
 29  건물관리번호     44198 non-null  object
 30  건물명        10894 non-null  object
 31  도로명주소      44198 non-null  object
 32  구우편번호      44187 non-null  float64
 33  신우편번호      44186 non-null  float64
 34  동정보        1327 non-null   object
 35  층정보        12364 non-null  object
 36  호정보        0 non-null      float64
 37  경도         44198 non-null  float64
 38  위도         44198 non-null  float64
dtypes: float64(7), int64(10), object(22)
memory usage: 13.5+ MB

In [31]:
# 잘 추출되었는지 확인
df_accommodation.상권업종대분류명.unique()

array(['숙박'], dtype=object)

In [32]:
# 인덱스 재설정
df_accommodation.reset_index(drop=True, inplace=True)

## 4. 데이터 저장

In [43]:
df_restaurant_group = df_restaurant.groupby(['시도명', '시군구명'])[['상가업소번호']].count().reset_index()
df_restaurant_group

      시도명     시군구명  상가업소번호
0     강원도      강릉시    6841
1     강원도      고성군     982
2     강원도      동해시    2381
3     강원도      삼척시    1650
4     강원도      속초시    3065
..    ...      ...     ...
248  충청북도  청주시 상당구    3466
249  충청북도  청주시 서원구    2858
250  충청북도  청주시 청원구    2960
251  충청북도  청주시 흥덕구    5270
252  충청북도      충주시    5400

[253 rows x 3 columns]

In [50]:
df_restaurant_group.rename(columns={'상가업소번호': '식당 수'}, inplace=True)
df_restaurant_group

      시도명     시군구명  식당 수
0     강원도      강릉시  6841
1     강원도      고성군   982
2     강원도      동해시  2381
3     강원도      삼척시  1650
4     강원도      속초시  3065
..    ...      ...   ...
248  충청북도  청주시 상당구  3466
249  충청북도  청주시 서원구  2858
250  충청북도  청주시 청원구  2960
251  충청북도  청주시 흥덕구  5270
252  충청북도      충주시  5400

[253 rows x 3 columns]

In [51]:
df_restaurant_group.to_csv('./data/3/전처리_완료/지역별 식당 수.csv', sep=',', na_rep='NaN')

In [57]:
df_accommodation_group = df_accommodation.groupby(['시도명', '시군구명'])[['상가업소번호']].count().reset_index()
df_accommodation_group

      시도명     시군구명  상가업소번호
0     강원도      강릉시     879
1     강원도      고성군     395
2     강원도      동해시     186
3     강원도      삼척시     261
4     강원도      속초시     338
..    ...      ...     ...
245  충청북도  청주시 상당구     111
246  충청북도  청주시 서원구      46
247  충청북도  청주시 청원구      77
248  충청북도  청주시 흥덕구     104
249  충청북도      충주시     236

[250 rows x 3 columns]

In [58]:
df_accommodation_group.rename(columns={'상가업소번호': '숙박업소 수'}, inplace=True)
df_accommodation_group

      시도명     시군구명  숙박업소 수
0     강원도      강릉시     879
1     강원도      고성군     395
2     강원도      동해시     186
3     강원도      삼척시     261
4     강원도      속초시     338
..    ...      ...     ...
245  충청북도  청주시 상당구     111
246  충청북도  청주시 서원구      46
247  충청북도  청주시 청원구      77
248  충청북도  청주시 흥덕구     104
249  충청북도      충주시     236

[250 rows x 3 columns]

In [59]:
df_accommodation_group.to_csv('./data/3/전처리_완료/지역별 숙박업소 수.csv', sep=',', na_rep='NaN')

### 각 지역별 식당/숙박업소 정보(상호명 및 경/위도) 추출 및 저장

In [65]:
df_restaurant2 = df_restaurant[['상호명', '시도명', '시군구명', '경도', '위도']]
df_restaurant2

                 상호명   시도명     시군구명          경도         위도
0       치킨플러스원주기업도시점   강원도      원주시  127.873974  37.383057
1              307포차   강원도      강릉시  128.920908  37.791299
2           키즈까페아이사랑   강원도      강릉시  128.919456  37.759315
3               국수나루   강원도      강릉시  128.896783  37.757642
4              꼭지네식당   강원도      강릉시  128.977948  37.725632
...              ...   ...      ...         ...        ...
848625         더더쪽갈비  충청북도  청주시 흥덕구  127.449708  36.633365
848626           아이셰  충청북도  청주시 흥덕구  127.456078  36.638675
848627            쏘자  충청북도      충주시  127.938356  36.961456
848628      원조사계절칡냉면  충청북도      영동군  127.768971  36.167841
848629        와이케이푸드  충청북도      옥천군  127.576315  36.296025

[848630 rows x 5 columns]

In [66]:
df_restaurant2.to_csv('./data/3/전처리_완료/지역별 식당 위치정보.csv', sep=',', na_rep='NaN')

In [67]:
df_accommodation2 = df_accommodation[['상호명', '시도명', '시군구명', '경도', '위도']]
df_accommodation2

                 상호명   시도명     시군구명          경도         위도
0      세인트존스호텔Ohcrab   강원도      강릉시  128.920908  37.791299
1            평창라마다호텔   강원도      평창군  128.717971  37.660051
2        호텔탑스텐스카이라운지   강원도      강릉시  129.052902  37.654680
3            편백나무숲펜션   강원도      원주시  127.797533  37.350421
4             달보드레펜션   강원도      횡성군  128.246628  37.494765
...              ...   ...      ...         ...        ...
44193         선물같은하루  충청북도      영동군  127.837736  36.074057
44194             가나  충청북도      충주시  127.791456  37.044719
44195       햇살이머무는뜨락  충청북도      괴산군  127.755964  36.752615
44196        스튜디오ODT  충청북도  청주시 상당구  127.483594  36.630912
44197        더메모리,해피  충청북도  청주시 청원구  127.487848  36.721303

[44198 rows x 5 columns]

In [68]:
df_accommodation2.to_csv('./data/3/전처리_완료/지역별 숙박업소 위치정보.csv', sep=',', na_rep='NaN')