# 3_역사유적지 수 및 위치정보 추출

### 순서
1. 데이터 불러오기
    - csv파일을 데이터프레임 형식으로 불러오기
    
    
2. 각 지역별 역사유적지 수 추출 및 저장
    - 시도명/ 시군구 컬럼을 그룹으로 역사유적지 개수 확인
    

3. 각 지역별 역사유적지 정보(상호명 및 경/위도) 추출 및 저장
    - 각 유적지 별 경/위도 확인

### 필요한 모듈 import

In [30]:
import numpy as np
import pandas as pd

In [31]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import warnings
warnings.filterwarnings('ignore')

## 1. 데이터 불러오기

### csv파일 불러오기

In [32]:
df = pd.read_csv('data/3/국내 지역별 유적지.csv')
df

,ID,LCLAS_NM,MLSFC_NM,POI_ID,POI_NM,BHF_NM,ASSTN_NM,CL_CD,CL_NM,PNU,...,RDNMADR_CD,RDNMADR_NM,BULD_NO,LC_LO,LC_LA,GID_CD,LAST_CHG_DE,ORIGIN_NM,FILE_NM,BASE_DE
0,KCLHTPO22N000000001,장소,관광지,10684323,영산만년교,NaN,NaN,60605,보물,4.870000e+18,...,NaN,NaN,NaN,128.529811,35.453634,라마934180,20220809,KT,KC_507_LLR_HISTST_2022,20220809
1,KCLHTPO22N000000002,장소,관광지,10684359,보각국사탑및비,NaN,NaN,60605,보물,4.770000e+18,...,4.770000e+11,삼국유사로,250,128.779331,36.127797,마마151930,20220809,KT,KC_507_LLR_HISTST_2022,20220809
2,KCLHTPO22N000000003,장소,관광지,8269960,석조여래좌상,NaN,NaN,60605,보물,4.680000e+18,...,4.680000e+11,도갑사로,306,126.663803,34.753950,다라234402,20220809,KT,KC_507_LLR_HISTST_2022,20220809
3,KCLHTPO22N000000004,장소,관광지,8270033,숭열당,NaN,NaN,60605,보물,4.720000e+18,...,4.720000e+11,숭렬당길,1,128.928922,35.966406,마마288753,20220809,KT,KC_507_LLR_HISTST_2022,20220809
4,KCLHTPO22N000000005,장소,관광지,10684190,사적비,NaN,NaN,60605,보물,4.680000e+18,...,NaN,NaN,NaN,126.747553,34.587766,다라309217,20220809,KT,KC_507_LLR_HISTST_2022,20220809
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7622,KCLHTPO22N000007623,장소,관광지,20637214,송광사향로전,NaN,NaN,180303,암자,4.620000e+18,...,4.620000e+11,송광사안길,100,127.275506,35.000957,다라795673,20220809,KT,KC_507_LLR_HISTST_2022,20220809
7623,KCLHTPO22N000007624,장소,관광지,13676620,김씨운암종택,NaN,NaN,60608,고택/생가/민속마을,4.720000e+18,...,4.720000e+11,범바위길,12,128.829632,36.523873,마바190370,20220809,KT,KC_507_LLR_HISTST_2022,20220809
7624,KCLHTPO22N000007625,장소,관광지,13676797,지촌종택,NaN,NaN,60608,고택/생가/민속마을,4.720000e+18,...,4.720000e+11,지례예술촌길,427,128.950911,36.509830,마바299356,20220809,KT,KC_507_LLR_HISTST_2022,20220809
7625,KCLHTPO22N000007626,장소,관광지,13677345,무안박씨무의공파종택,NaN,NaN,60608,고택/생가/민속마을,4.780000e+18,...,4.780000e+11,도곡길,04월 17일,129.409156,36.510084,마바709364,20220809,KT,KC_507_LLR_HISTST_2022,20220809
7626,KCLHTPO22N000007627,장소,관광지,14527757,예산향교유림회관,NaN,NaN,60608,고택/생가/민속마을,4.480000e+18,...,4.480000e+11,예산로,215,126.848546,36.680068,다바417537,20220809,KT,KC_507_LLR_HISTST_2022,20220809

- 데이터 확인하기

In [33]:
# 데이터 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7627 entries, 0 to 7626
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            7627 non-null   object
 1   LCLAS_NM      7627 non-null   object
 2   MLSFC_NM      7627 non-null   object
 3   POI_ID        7627 non-null   int64
 4   POI_NM        7627 non-null   object
 5   BHF_NM        56 non-null     object
 6   ASSTN_NM      0 non-null      float64
 7   CL_CD         7627 non-null   int64
 8   CL_NM         7627 non-null   object
 9   PNU           7540 non-null   float64
 10  CTPRVN_NM     7627 non-null   object
 11  SIGNGU_NM     7600 non-null   object
 12  LEGALDONG_NM  7627 non-null   object
 13  LI_NM         5498 non-null   object
 14  LNBR_NO       7540 non-null   object
 15  LEGALDONG_CD  7627 non-null   int64
 16  ADSTRD_CD     7627 non-null   int64
 17  RDNMADR_CD    3638 non-null   float64
 18  RDNMADR_NM    3639 non-null   object
 19  BULD_NO       3639 non-null   object
 20  LC_LO         7627 non-null   float64
 21  LC_LA         7627 non-null   float64
 22  GID_CD        7627 non-null   object
 23  LAST_CHG_DE   7627 non-null   int64
 24  ORIGIN_NM     7627 non-null   object
 25  FILE_NM       7627 non-null   object
 26  BASE_DE       7627 non-null   int64
dtypes: float64(5), int64(6), object(16)
memory usage: 1.6+ MB

In [34]:
# null값 확인하기
df.isnull().sum()

ID                 0
LCLAS_NM           0
MLSFC_NM           0
POI_ID             0
POI_NM             0
BHF_NM          7571
ASSTN_NM        7627
CL_CD              0
CL_NM              0
PNU               87
CTPRVN_NM          0
SIGNGU_NM         27
LEGALDONG_NM       0
LI_NM           2129
LNBR_NO           87
LEGALDONG_CD       0
ADSTRD_CD          0
RDNMADR_CD      3989
RDNMADR_NM      3988
BULD_NO         3988
LC_LO              0
LC_LA              0
GID_CD             0
LAST_CHG_DE        0
ORIGIN_NM          0
FILE_NM            0
BASE_DE            0
dtype: int64

----------

## 2. 각 지역별 역사유적지 수 추출 및 저장

- group by를 이용해 개수 확인

In [35]:
# CTPRVN_NM(시도명), SIGNGU_NM(시군구명) 컬럼을 그룹으로 묶어 갯수를 확인
df_count = df.groupby(['CTPRVN_NM','SIGNGU_NM']).size().reset_index(name='고궁/역사 유적지 수')
df_count

    CTPRVN_NM SIGNGU_NM  고궁/역사 유적지 수
0         강원도       강릉시          104
1         강원도       고성군           20
2         강원도       동해시           24
3         강원도       삼척시           44
4         강원도       속초시           37
..        ...       ...          ...
240      충청북도   청주시 상당구           24
241      충청북도   청주시 서원구            4
242      충청북도   청주시 청원구           12
243      충청북도   청주시 흥덕구            8
244      충청북도       충주시           61

[245 rows x 3 columns]

- 컬럼명 변경

In [36]:
df_count.rename(columns={'CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명'}, inplace=True)
df_count

      시도명     시군구명  고궁/역사 유적지 수
0     강원도      강릉시          104
1     강원도      고성군           20
2     강원도      동해시           24
3     강원도      삼척시           44
4     강원도      속초시           37
..    ...      ...          ...
240  충청북도  청주시 상당구           24
241  충청북도  청주시 서원구            4
242  충청북도  청주시 청원구           12
243  충청북도  청주시 흥덕구            8
244  충청북도      충주시           61

[245 rows x 3 columns]

In [37]:
# null값 확인
df_count.isnull().sum()

시도명            0
시군구명           0
고궁/역사 유적지 수    0
dtype: int64

- csv파일 저장

In [38]:
df_count.to_csv('./data/3/전처리_완료/지역별 역사유적지지 수.csv', sep=',', na_rep='NaN')

----------

## 3. 각 지역별 역사유적지 정보(상호명 및 경/위도) 추출 및 저장

- 필요한 컬럼('POI_NM', 'CTPRVN_NM','SIGNGU_NM', 'LC_LO', 'LC_LA') 추출

In [39]:
df_loc = df[['POI_NM', 'CTPRVN_NM','SIGNGU_NM', 'LC_LO', 'LC_LA']]
df_loc

          POI_NM CTPRVN_NM SIGNGU_NM       LC_LO      LC_LA
0          영산만년교      경상남도       창녕군  128.529811  35.453634
1        보각국사탑및비      경상북도       군위군  128.779331  36.127797
2         석조여래좌상      전라남도       영암군  126.663803  34.753950
3            숭열당      경상북도       영천시  128.928922  35.966406
4            사적비      전라남도       강진군  126.747553  34.587766
...          ...       ...       ...         ...        ...
7622      송광사향로전      전라남도       순천시  127.275506  35.000957
7623      김씨운암종택      경상북도       안동시  128.829632  36.523873
7624        지촌종택      경상북도       안동시  128.950911  36.509830
7625  무안박씨무의공파종택      경상북도       영덕군  129.409156  36.510084
7626    예산향교유림회관      충청남도       예산군  126.848546  36.680068

[7627 rows x 5 columns]

- 인덱스명 변경

In [40]:
df_loc.rename(columns={'POI_NM': '유적지명','CTPRVN_NM': '시도명','SIGNGU_NM':'시군구명','LC_LO':'경도','LC_LA':'위도'}, inplace=True)
df_loc

            유적지명   시도명 시군구명          경도         위도
0          영산만년교  경상남도  창녕군  128.529811  35.453634
1        보각국사탑및비  경상북도  군위군  128.779331  36.127797
2         석조여래좌상  전라남도  영암군  126.663803  34.753950
3            숭열당  경상북도  영천시  128.928922  35.966406
4            사적비  전라남도  강진군  126.747553  34.587766
...          ...   ...  ...         ...        ...
7622      송광사향로전  전라남도  순천시  127.275506  35.000957
7623      김씨운암종택  경상북도  안동시  128.829632  36.523873
7624        지촌종택  경상북도  안동시  128.950911  36.509830
7625  무안박씨무의공파종택  경상북도  영덕군  129.409156  36.510084
7626    예산향교유림회관  충청남도  예산군  126.848546  36.680068

[7627 rows x 5 columns]

- csv파일로 저장

In [41]:
# csv파일로 저장
df_loc.to_csv('./data/3/전처리_완료/지역별 역사유적지 위치정보.csv', sep=',', na_rep='NaN')

----------------